<div class="owner-search">
    <label for="firstname">${labels.firstNameTextbox}</label>
    <input type="text" name="firstname" value=""
        data-dojo-type="dijit/form/TextBox"
        data-dojo-props="trim:true, propercase:true" id="firstname" /><br />

    <label for="surname">${labels.surnameTextbox}</label>
    <input type="text" name="surname" value=""
            data-dojo-type="dijit/form/TextBox"
            data-dojo-props="trim:true, propercase:true" id="surname" /><br />

    <label for="address">${labels.addressTextbox}</label>
    <input type="text" name="address" value=""
            data-dojo-type="dijit/form/TextBox"
            data-dojo-props="trim:true, propercase:true" id="address" /><br />
</div>