<div>
    <div class="SpwIdentifyResultTableWrapperDiv">
        <table class="SpwIdentifyResultTableWrapperTable" cellspacing="0px" cellpadding="0px">
            <tr>
                <td>
                    <div data-dojo-attach-point="headerDiv" class="SpwIdentifyResultTableHeaderDiv">
                        <table width="100%">
                            <tr>
                                <td width="23px"><span class="dojoxFloatingCloseIcon"
                                        style="cursor:pointer;"
                                        data-dojo-attach-event="onclick:onClickImgDeleteAllResults"
                                        title="${labels.SpwIdentifyResultTableDeleteResult}" /></td>
                                <td width="23px"><input type="checkbox" data-dojo-type="dijit.form.CheckBox"
                                        data-dojo-attach-point="_cbSelectAllResults"
                                        data-dojo-attach-event="onChange:onChangeCbSelectAllResults,onClick:onClickCbSelectAllResults"
                                        title="${labels.SpwIdentifyResultTableSelectAllResults}" /></td>
                                <td width="23px"><img src=""
                                        style="cursor:pointer;" data-dojo-attach-point="_imgUseAsIdentify"
                                        data-dojo-attach-event="onclick:onClickImgUseAsIdentify"
                                        title="${labels.SpwIdentifyResultTableUseAsIdentify}" /></td>
                                <td width="23px"><img src=""
                                        style="cursor:pointer;" data-dojo-attach-point="_imgMoreInfo"
                                        data-dojo-attach-event="onclick:onClickImgMoreInfo"
                                        title="${labels.SpwIdentifyResultTableMoreInfo}" /></td>
                                <td width="23px"><span style="cursor:pointer;"
                                        data-dojo-attach-point="_imgExportCsv"
                                        data-dojo-attach-event="onclick:onClickExportCsv"
                                        title="${labels.SpwIdentifyResultTableExportCsv}" >CSV</span>
                                    <form style="display:none;" data-dojo-attach-point="uploadCsvForm"
                                        accept-charset="ISO-8859-1" enctype="application/x-www-form-urlencoded"><input
                                            type="hidden" name="csvFileContent" value=""
                                            data-dojo-attach-point="csvTextValue" /><input type="hidden"
                                            name="csvFileName" value="" data-dojo-attach-point="csvFileName" /></form>
                                </td>
                                <td width="100%"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table data-dojo-attach-point="resultsTable" class="SpwIdentifyResultTable">
                        <tr data-dojo-attach-point="_headerTr">
                            <th width="20px"></th>
                            <th width="20px"></th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div data-dojo-attach-point="footerDiv" class="SpwIdentifyResultTableFooterDiv"></div>
                </td>
            </tr>
        </table>
    </div>
</div>