<tr data-dojo-attach-event="onmouseover:onMouseOver,onmouseout:onMouseOut" style="cursor:pointer;">
    <td align="center"><span class="dojoxFloatingCloseIcon" style="cursor:pointer;"
            data-dojo-attach-event="onclick:onClickImgDeleteResult"
            title="${labels.SpwIdentifyResultRowDeleteResult}" /></td>
    <td align="center"><input type="checkbox" data-dojo-type="dijit.form.CheckBox"
            data-dojo-attach-point="_cbSelectResult" data-dojo-attach-event="onChange:onChangeCbSelectResult"
            title="${labels.SpwIdentifyResultRowSelectResult}" /></td>
</tr>