{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>map4imio</title>
		<script type="text/javascript">
			var dojoConfig = {
				async: true,
				parseOnLoad: true,
				isDebug: true,
				locale: 'fr',
				configBasePath: '{% static "default/fr" %}',     
				packages: [{
					name: 'exemple',
					location: '{% static "widgets" %}'
				},{
					name: 'urbanmap',
					location: '{% static "urbanmap" %}'
				},{
					name: 'utils',
					location: '{% static "utils" %}'
				}]
			};
		</script>
		<script type="text/javascript" src="http://geoservices.wallonie.be/geoviewer/4.0/?t=I2PHLK3WBK"></script>
		<!--<link rel="stylesheet" type="text/css" href="http://geoservices.wallonie.be/geoviewer/4.0/style/"/>-->
		<link rel="stylesheet" type="text/css" href='{% static "geoviewer4.css" %}'/>
		<link rel="stylesheet" type="text/css" href='{% static "spwfix.css" %}'/>
		<style>
            #spwViewerDiv {
                position: absolute;
                top: 0px;
                bottom: 0px;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
            #map {
                position:absolute;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
			.draw-point {
				text-align: center;
				padding: 10px;
			}
		</style>

	</head>
	<body class="claro">
		<div id="spwViewerDiv"></div>
		<script type="text/javascript">
			//var urbanCapakeyArray = "53040D0666/02_000";
			var urbanCapakeyArray = "55002A0222/00_000";
		</script>
		<script type="text/javascript" src="{% static 'imiomapspw.js' %}"></script>
	</body>
</html>


